<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        label {

            cursor: pointer;
        }

        #dummyid {
            opacity: 0;
            position: absolute;
            z-index: -1;
        }

        .list-group-item.list-group-item-action.py-3.lh-sm:hover {
            background-color: #0d6efd;
        }
    </style>
</head>

<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="/Logo.png" width="60" height="60" />
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center text-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a href="/user/contacts" class="nav-link px-2 text-white">Contacts</a></li>
                    <li><a href="/user/multi" class="nav-link px-2 text-white">Broadcast</a></li>
                </ul>
                <div class="text-end">
                    <a href="#"><button type="button" class="btn btn-outline-light me-2" id="group_name">
                            <%= group_name %>
                        </button></a>
                </div>
                <div class="text-end">
                    <div class="text-end">
                        <a href="/login"><button type="button" class="btn btn-outline-light me-2">Logout</button></a>
                    </div>
                </div>
                <div class="text-end">
                    <form>

                        <button formaction="/user/group/<%= group_name %>/leave" formmethod="post"
                            class="btn btn-lg btn-outline-danger" type="submit">Leave
                            Grp</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <br>
    <br>

    <div class="d-flex justify-content-around flex-row bd-highlight mb-5">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 500px;">
            <form action="/user/group/<%= group_name %>/send" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3 input-group-lg">
                    <label for="dummyid" class="input-group-text">+</label>
                    <input type="file" name="fileupload" id="dummyid" />
                    <input type="text" class="form-control" name="message" />

                    <button class="btn btn-lg btn-outline-primary" type="submit">></button>
                </div>
            </form>
            <div id="messages" class="list-group list-group-flush border-bottom scrollarea">
                <% msglist.forEach( msg=>{ %>
                    <% if(msg.username==username) { %>
                        <% t="active" %>
                            <a href="#" class="<%= t %> list-group-item list-group-item-action py-3 lh-sm"
                                aria-current="true">
                                <% } %>
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">
                                            <%= msg.username %>
                                        </strong>
                                        <small>
                                            <% if(msg.file!=undefined){ %>
                                                <embed src="/<%= msg.username %>/<%= msg.file %>" width="100"
                                                    height="100" /> <br>
                                                <% } %>
                                        </small>
                                    </div>
                                    <div class="col-10 mb-1 small">
                                        <span class="fs-2">
                                            <%= msg.message %>
                                        </span>
                                    </div>
                            </a>
                            <% }) %>
            </div>


        </div>
    </div>
    <!-- <div id="messages">
        <% msglist.forEach( msg=>{ %>
            <p>
                <%= msg.username %> <br>
                    <% if(msg.file!=undefined) { %>
                        <embed src="/<%= msg.username %>/<%= msg.file %>" width="90" height="90" /> <br>
                        <% } %>
                            <strong>
                                <%= msg.message %>
                            </strong>
            </p>
            <% }) %>
    </div>
    <form action="/user/group/<%= group_name %>/send" method="post" enctype="multipart/form-data">
        <input type="file" name="fileupload" />
        <input type="text" name="message" />
        <button type="submit">Send</button>

    </form> -->
    <script>
        const socket = io()
        group_name = document.getElementById('group_name').innerText
        // socket.emit("notify", receiver)
        console.log(group_name)
        socket.on(group_name, () => {
            //console.log("reload")
            window.location.reload()
        })


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>


</html>